{% extends 'layout.html.twig' %}
{% block content %}
<section>
    <div class="container container-events">
        <h2>Présentation du "Bureau Directeur"</h2>
        <div class="row text-center">
            {% for staff in offices %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="size">
                            <img class="img-responsive center-block " src="{{ staff.picture }}" alt="flyers de l'événement">
                        </div>
                        <div class="caption">
                            <p>{{ staff.firstName }} {{ staff.LastName }}</p>
                            <p>{{ staff.task }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4"><hr></div>
        </div>

        <h2>Présentation du "Bureau Technique"</h2>
        <div class="row">
            {% for prof in profs %}
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <div class="sizeLarge">
                            <img class="img-responsive center-block" src="{{ prof.picture }}" alt="professeur">
                        </div>
                        <div class="caption marginCenter">
                            <p class="teacher text-center">{{ prof.firstName }} {{ prof.LastName }}</p>
                            <p>{{ prof.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

