
<section class="trigram trigram-fire">


    <footer>



        <div class="container">

            <div class="row">

                <div class="col-xs-12">
                    <div class="alert alert-info" role="alert">Vous désirez en savoir plus sur notre club, n'hésitez pas à nous contacter !</div>
                </div>

                <form class="form-horizontal">
                    <div class="form-group form-group-lg">
                        <label for="courriel" class="col-lg-2 col-md-2 control-label">Votre courriel</label>
                        <div class="col-lg-10 col-md-10 ">
                            <input type="email" class="form-control" id="courriel" name="courriel" placeholder="">
                        </div>
                    </div>

                    <div class="form-group form-group-lg">
                        <label for="message" class="col-lg-2 col-md-2 control-label">Votre message</label>
                        <div class="col-lg-10 col-md-10">
                            <textarea class="form-control " rows="5" name="message" id="message"></textarea>
                        </div>

                        <div class="form-group form-group-lg">
                            <div class="col-md-offset-2 col-lg-10 col-md-10 text-right">
                                <button type="submit" class="send btn btn-primary btn-lg">Envoyer votre message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-3 col-sd-6 col-xs-12">

                <ul>

                    {% for link in links %}

                        {% if  loop.index <= (loop.length /2) %}
                        <li><a href="{{ link.webAddress }}" target="_blank" title="{{ link.linkTitle }}" >{{ link.textOfLink }}</a></li>
                        {% endif %}

                    {% endfor %}

                </ul>

            </div>



            <div class="col-lg-5 col-md-5 col-sd-6col-xs-12">

                <div class="row central">

                    <ul>

                        <div class="col-lg-4 col-md-4 col-sd-12 col-sd-12">
                            <img src="http://via.placeholder.com/100x100" height=""/>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sd-12">
                            <div class="adress">
                                <p class="name_club">Club Keumgang Taekwondo</p>
                                <p>138 Allée François Villon</p>
                                <p>45160 Olivet</p>
                            </div>
                            <div class="phone">
                                <p>06.24.43.35.21</p>
                            </div>
                        </div>
                    </ul>

                </div>

            </div>



            <div class="col-lg-4 col-md-4 col-sd-12 col-xs-12">

                <ul>

                    {% for link in links %}

                        {% if  loop.index > (loop.length /2) %}
                            <li><a href="{{ link.webAddress }}" target="_blank" title="{{ link.linkTitle }}" >{{ link.textOfLink }}</a></li>
                        {% endif %}

                    {% endfor %}

                </ul>

            </div>

        </div>

    </div>

</footer>