

{% extends 'Admin/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Événements
{% endblock %}

{% block content %}
    <section class="container">
        <h1>Événements - Listing</h1>
        <div class="row">
            <div class="col-md-4">{% include 'Event/Admin/create.html.twig' %}</div>
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Événements</h2>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nom de l'événement / date</th>
                                        <th>Modifier</th>
                                        <th>Supprimer</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div class="row">
                                        {% for event in eventsAdmin %}
                                            <tr>
                                                <td class="col-md-8">{{ event.title }} </br> {{ event.dateEvent | date('d/m/Y') }}</td>
                                                <td class="col-md-2">
                                                    <form action="event/{{ event.id }}/update" method="POST" confirm="Modifier l'événement '{{ event.title }}' ?">
                                                        <button type="submit" class="btn btn-warning btn-block">Modifier </button>
                                                    </form>
                                                </td>
                                                <td class="col-md-2">
                                                    <form action="event/{{ event.id }}/delete" method="POST" confirm="Supprimer l'événement '{{ event.title }}' ?">
                                                        <button type="submit" class="btn btn-danger btn-block">Supprimer </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>

    </section>
{% endblock %}