{% extends 'layout.html.twig' %}

{% block content %}
    <section class="blackBelt img-blackbelt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="strong">Les ceintures noires</h2>
                </div>
            </div>

            {% for dan, blackBelts in dans %}
                <div class="row text-center">
                    <h3><span class="strong">{{ dan }}° Dan</span></h3>
                </div>
                <div class="row text-center">
                    {%  for blackBelt in blackBelts %}
                           <div class="col-sm-3 col-md-3">
                                <div class="thumbnail person">
                                    <img src="{{ blackBelt.picture }}" alt="photo de la personne ayant reçu la ceinture noire">
                                    <div class="caption">
                                        <h4 class="h5">{{ blackBelt.firstName }} {{ blackBelt.lastName }}</h4>
                                        <p>Obtenu le {{ blackBelt.dateDan }}</p>
                                    </div>
                                </div>
                           </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
