{% extends 'layout.html.twig' %}

{% block content %}
    <section class="black-belt">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Les ceintures noires à l'honneur</h2>
                </div>
            </div>
            <div class="row text-center">
                {% for blackBelt in blackBeltsHonor %}
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ blackBelt.picture }}" alt="photo de la personne ayant reçu la ceinture noire">
                            <div class="caption">
                                <h3>{{ blackBelt.fullName }}</h3>
                                <p>{{ blackBelt.DateBlackBelt | date('d/m/Y') }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <h2>Les ceintures noires</h2>
                </div>
            </div>
            <div class="row text-center">
                {% for blackBelt in blackBelts %}
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                            <img src="{{ blackBelt.picture }}" alt="photo de la personne ayant reçu la ceinture noire">
                            <div class="caption">
                                <h3>{{ blackBelt.fullName }}</h3>
                                <p>{{ blackBelt.DateBlackBelt | date('d/m/Y') }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}